[Unit]
Description=Display Raspberry Pi specific system information directly on the framebuffer.

[Service]
Type=forking
PIDFile=/run/raspinfo%i.pid
ExecStart=/usr/local/bin/raspinfo --daemon --device /dev/fb%i --pidfile /run/raspinfo%i.pid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
