[Unit]
Description=Display Raspberry Pi specific system information directly on the framebuffer.

[Service]
Type=forking
PIDFile=/var/run/raspinfo%i.pid
ExecStart=/usr/local/bin/raspinfo --daemon --device /dev/fb%i --pidfile /var/run/raspinfo%i.pid

[Install]
WantedBy=multi-user.target
